
body{
 flex: wrap;
 justify-content: center;
 align-items: center;
 padding-top: 25%;
}

.h1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2{
  padding-top:10% ;

 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.h3{
  display: flex;
  flex-direction: column;
<<<<<<< HEAD:Sign up/signup.css
}
.h4{
  display: flex;
  flex-direction: column;
=======
  text-align: center;
>>>>>>> 5cb301d21989f3bf1ddfdcff1d07da947c71a9b0:log in/Log in.css
}

.h5{
  display: flex;
  flex-direction: column;
<<<<<<< HEAD:Sign up/signup.css
=======
  text-align: center;
>>>>>>> 5cb301d21989f3bf1ddfdcff1d07da947c71a9b0:log in/Log in.css
}
.h6{
  display: flex;
  flex-direction: column;
  text-align: center;
  

}