
@media screen and (max-width: 768px) {
  body{
     background-color: greenyellow;
  }
 
  
 }
 .navbar{
   
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid rgb(166, 165, 165);
  
 }
 .navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 15px;
 
 }
 .navbar .right{
  float: right;
 }
 .navbar a:hover {
     background-color: #ddd;
     color: black  ;
}
.navbar a.active{
  background-color: #4caf50;
  color: white;
}

.buttong:hover{
  background-color: darkblue;

}
button:active{
  background-color: green;
  
}

.h2{
  padding-top:10% ;
padding-bottom: 20%;
  flex: wrap;
  flex-wrap: line;
 background-clip: ;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;


}
.task{
  background-image: url(ITEM-Background.jpg);
  border: 5px solid violet; 
  border-radius: 7%;
  border-style:groove; 
  padding: 15%;

}
.UserName{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
}
.password{
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-size: 20px;
  padding: 5%;
}
.signup{
  display: flex;
  
 justify-content: center;
  cursor: pointer;
  position: relative;
  
}
.Banner{
  background-image: url(PHOTObanner.jpeg);
  color: red;
  display: flex;
  
  justify-content: center;
  padding: 0.4%;
  margin: 2%;
  margin-top: 8%;
  border-radius: 9px;

}
.Copyright{
  display: flex;
  flex-direction: row;
  gap: 50%;
}
.Register{
  display: flex;
  justify-content: center;
  margin-top: -15%;
  margin-bottom: 20%;
  
}
.button{
  display: inline-block;
  font-size: 20px;
  
  padding: 10px 20px;

  cursor: pointer;
}
.button-wr{
  background-color: yellow;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 17px ;
  cursor: pointer;
}




 

