@media screen and (max-width: 768px) {
   body{
      background-color: black;
   }
  #footer{
   color: white;
  }
  .Banner{
   color: white;
  }
  .navbar a{
   color: white;
  }

   
  }
  .Banner{
 margin-top: 8%;
   display: flex;
   background-image: url(Wallpaper.jpeg);
   margin-left: 20px;
   margin-right: 20px;
   color: red;
   
  }
  .Banner>h3{
   display: flex;
   text-align: center;
  }
  .navbar{
   
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   border-bottom: solid rgb(166, 165, 165);
   
  }
  .first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5%;
    gap: 10%;
   
  }

  .navbar a {
   float: left;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   margin-top: 15px;
  
  }
  .navbar .right{
   float: right;
  }
  .navbar a:hover {
      background-color: #ddd;
      color: black  ;
}
.navbar a.active{
   background-color: #4caf50;
   color: white;
}

 .buttong:hover{
   background-color: darkblue;

 }
 button:active{
   background-color: green;
   
 }
      .Copyright{
         display: flex;
         flex-direction: row;

       }.Fund{
         display: flex;
         justify-items: center;
        
       
       }
       .left{
         justify-content: flex-start;
       }
       .right{
         justify-content: flex-end;
         
       }
      



       
       .Produkt{
        display: inline-block;
        
        margin: 5%;
        text-align: center;
        align-items: center;
        border: 5px white solid ;
        border-style:ridge;
        border-radius: 5%;
       
        
        
      }
      p{
        color: white;
      }
      .First-bracket{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
       
      }
      .Header{
        display: inline-block;
        text-align: center;

      }
      h2{
        color: white;
      }
      .Main{ 
        
        flex-wrap: wrap;
        background-image: url(ITEM-Background.jpg);
       width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
      
        flex-wrap: wrap;
        
      }
      .First-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 5%;
        padding-left: 5%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      
        
      }
      .titell {
        display: flex;
       
        justify-content: center;
        align-items: center;
      }
      .SEcond{
        display: flex;
        background-image: url(ITEM-Background.jpg);
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2%;
        width: 100%;
        

      }
      .third{
        background-image: url(ITEM-Background.jpg);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2%;
        width: 100%;
      }

     
       
 
         
      
      
         
         
      
      


