
body{
  
}


p>.header{
    color: brown;
   border-bottom: 2px solid black;font-weight: bolder;}

.fotografit{
  

   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3%;
}

  
  .bgfoto{
    display: flex;
    justify-content: end;
   
   }

   .latestvideo{
    display: flex;
    justify-content: flex-end;
   content: 12px;

   }
   .t1{
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
 
  .permifooter{ 
   
    display: flex;
    justify-content: space-between;
    background: #424242;
    border: 1px solid #424242;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 1%;
  }
  
   .fotografit>.rubrika{
   
 
   
   }
   .fotografit>.rubrika2{
  
 
  
   }
   
   .fotografit>.rubrika3{

   }
   
   
   .fotografit>.rubrika4{

   }
   
   
    
 
}
 .footerright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

 }


.fundi{
    display: flex;
    flex-direction: row;
    

}
.f{

    display: flex;
    align-items: center;
    flex-direction:row;
    gap: 30%;

}
.ff{
    margin-left: 5% ;
    margin-right: 5%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
   
}
p>.f{
    display: flex;
    flex-direction: column;
}
.f6{
  flex-direction: row;
}



.p{
    margin: 1%;
    padding-left: 20px;
   
  }
 
  .dd{
      background-image:url(AdobeStock_277931111_Preview.jpeg);
      color: red;
      display: flex;
      margin: 0.04%;
      justify-content: center; 
      padding: 0.04%;
     
  }
 .headerii{
  width:100% ;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;
 
  border: 1px solid  ;
  border-radius: 10px;
 
 }
 .menu1{
  height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      color: black;
      gap: 50px;
      list-style: none;
 }
.menu1>li>a{
  color: black;
  position: relative;
  text-decoration: none;
 }
 li>a:after{
  content:"";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition:transform 0.3s ease-out;

 }
 li>a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
 }
  
  .headeri{
    width: 100%;
    height: 0%;
    
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
     
      margin: 00 0px;
      padding: 20px 30;
  }
  .catalog{
    justify-content: center;
   }
 
  .menu{
     display: flex;
  }
 

.fi{
  
 
}
  
  
  .title{
   
    

  } 
  .f3{
    
     display: flex;
      width: 100%;
      border: 1px solid black;
      height: 40px;
      align-items: center;
    
     
     
      background-color: darkgray;
      justify-content: space-evenly;
      margin-bottom: 20px;
  }

.label{

  
}

.ac1{
  display: flex;
  justify-content: space-evenly;
}

.control{ 
  display: flex;
  justify-content: space-evenly;
  
  
}
  