
.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30%;

 }
 .headeri{
    padding-left: 3% ;
      display: flex;
      justify-content: flex-start;
  }
  .catalog{
    display: flex;
    align-items: center;

   }

.u1{
    display: flex;
    gap: 2%;
}
   .about-section {
 display: flex;
    margin: auto;
    justify-content: flex-start;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}
.our{
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    width: 95%;
    gap: 15%;
    margin-left: 30px;
}
.s55{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about-section h2 {
    color: #333;
}
h2{
    margin: 3%;
    display: flex;
justify-content: center;}


.about-section p {
    color: #666;
} .menu1{
    height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        color: black;
        gap: 50px;
        list-style: none;
        
        
   }
   .home{
    display: flex;
    justify-content: center;
    flex-direction: row;

   }

   .dd{
    background-image:url(AdobeStock_277931111_Preview.jpeg);
    color: red;
    display: flex;
    margin: 0.04%;
    justify-content: center; 
    padding: 0.04%;
    margin: 2%;
    border-radius: 9px;
    
}
.f{
margin: 10px;
padding: 10px;
        display: flex;
        align-items: center;
        flex-direction:row;
        justify-content: space-evenly;
      width: 100%; 
      
        border-radius: 7px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     gap: 30%;
    
    }
    .ff{
        
        display: flex;
        flex-direction:column;
      
        
       
    }
    h4>.f>.ff{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .f6{
        width: 100%;
        flex-direction: row;
        gap: 30%;
      }
      .fundi{
        display: flex;
        flex-direction: row;
        
    
    }
