
body{
 background-image: src(""); 
}

.h1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2{
  padding-top:10% ;

 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.h3{
  display: flex;
  flex-direction: column-reverse;
}
.h4{
  display: flex;
  flex-direction: column-reverse;
}
.h5{
  display: flex;
  flex-direction: column-reverse;
}
.h6{
  display: flex;
  

}